@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?4g8rxx');
  src:  url('icomoon.eot?4g8rxx#iefix') format('embedded-opentype'),
    url('icomoon.ttf?4g8rxx') format('truetype'),
    url('icomoon.woff?4g8rxx') format('woff'),
    url('icomoon.svg?4g8rxx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}